/**********************
Font Families:
  font-family: 'Bombshell Pro', cursive;
  font-family: 'Amatic SC', cursive;

Color Pallette:
  #90A09F; //grey-green
  #000; //black
  #5A6B75; //grey-blue
  #E9E8ED; //off-white
***********************/

@font-face {
  font-family: 'Bombshell Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Bombshell Pro'), url('Bombshell Pro.woff') format('woff');
}


/***********
COMING SOON
***********/

/*html {
  background-color: #E9E8ED; //off-white
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #000; //black
}

h1 {
  font-family: 'Bombshell Pro', cursive;
}

h2 {
  margin-bottom: 5%;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 2.75em;
  color: #FFF; //white
}

.announcement {
  background-color: #5A6B75; //grey-blue
  margin: 10% auto 0% auto;
  width: 100%;
  height: 80px;
}

.splashImg {
  margin: 5% auto;
  width: 100%;
}

.splashImg img {
  max-width: 500px;
}

.main {
  margin: 5% auto 10% auto;
}

.bottomBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #90A09F; //grey-green
  color: #FFF; //white
}*/

/******
WEBSITE
******/

html {
  background-color: #5A6B75; //grey-blue
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bombshell Pro', cursive;
  font-weight: 100;
  text-align: center;
  color: #FFF; //white
}

h3, h4, h5, p, td {
  color: #000; //black
}

.eventName {
  font-weight: bold;
}

h2, h5, p, li, a, th, td {
  font-family: 'Amatic SC', cursive;
}

p {
  text-align: justify;
  text-indent: 2.5rem;
  margin: 2% auto;
}

a {
  text-decoration: none;
  color: #E9E8ED; //off-white
}

a:hover {
  color: #5A6B75; //grey-blue
}

h1, h4 {
  font-size: 4rem;
}

h2, h5 {
  font-size: 3.5rem;
}

h3, p, li {
  font-size: 2.75rem;
}

th {
  font-size: 2.5rem;
}

td {
  font-size: 2rem;
}

a {
  font-size: inherit;
}

.description {
  font-size: 1.5rem;
}

li {
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
}

#banner, #main, #scroll {
  background-color: #E9E8ED; //off-white
}

.bannerBox {
  padding: 5% 7% 2% 7%;
  background-color: #90A09F; //grey-green
}

#ringPic {
  margin: 10% auto 5% auto;
}

#scroll {
  padding: 12% 7% 5% 7%;
}

#nav {
  margin: 1% auto;
}

.navBar {
  background-color: #5A6B75; //grey-blue
}

.navBtn:hover {
  cursor: pointer;
  color: #90A09F; //grey-green
}

.section {
  padding: 5% 10%;
  margin-bottom: 28px;
  background-color: #90A09F; //grey-green
}

.sectionContent {
  width: 80%;
  margin: 0% auto;
  max-width: 625px;
}

.sectionHeader {
  margin-bottom: 3%;
}

#story {
  border-top: 28px solid #E9E8ED; //off-white
}

.storyText {
  margin-bottom: 10%;
}

#scheduleHeader {
  width: 75%;
  margin: 4% auto;
  padding-top: 5%;
  border-top: 2px solid black;
}

.schedule {
  width: 100%;
  margin: 0 auto;
}

table {
  margin-bottom: 2%;
}

th, td {
  border-bottom: 2px solid black;
  background-color: #90A09F; //grey-green
}

#eventTb, #timeTb {
  width: 20%;
}

#locationTb, #descriptionTb {
  width: 30%;
}

@media only screen and (max-width: 930px) {
  h1, h4 {
    font-size: 3.25rem;
  }

  h2, h5 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 750px) {
  .sectionContent {
    width: 97%;
    max-width: 480px;
  }
  .section {
    padding: 5% 5%;
  }
  h1, h4 {
    font-size: 2.75rem;
  }
  p {
  text-indent: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  #bannerHeader {
    font-size: 2.5rem;
  }
  h2, h5 {
    font-size: 2.75rem;
  }
  .section {
    padding: 5% 2%;
  }
  #ringPic {
    margin: 5% auto 4% auto;
  }
  #scroll {
    padding: 12% 7% 5% 7%;
  }
}

@media only screen and (max-width: 540px) {
  h1, #bannerHeader {
    font-size: 2.25rem;
  }
  li {
    font-size: 2.5rem;
  }
  p {
    font-size: 2.25rem;
    text-indent: 1.5rem;
  }
}

@media only screen and (max-width: 480px) {
  h2, #bannerHeader {
    font-size: 1.5rem;
  }
  h3, td {
    font-size: 1.5rem;
  }
  h4, li, p, th {
    font-size: 2rem;
  }
  h5 {
    font-size: 2.25rem;
  }
  .description {
    font-size: 1rem;
  }
  li {
    margin-left: 1%;
    margin-right: 1%;
  }
}
