/**********************
Font Families:
  font-family: 'Bombshell Pro', cursive;
  font-family: 'Amatic SC', cursive;

Color Pallette:
  #90A09F; //grey-green
  #000; //black
  #5A6B75; //grey-blue
  #E9E8ED; //off-white
***********************/

@font-face {
  font-family: 'Bombshell Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Bombshell Pro'), url('Bombshell Pro.woff') format('woff');
}


/***********
COMING SOON
***********/

/*html {
  background-color: #E9E8ED; //off-white
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  color: #000; //black
}

h1 {
  font-family: 'Bombshell Pro', cursive;
}

h2 {
  margin-bottom: 5%;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 2.75em;
  color: #FFF; //white
}

.announcement {
  background-color: #5A6B75; //grey-blue
  margin: 10% auto 0% auto;
  width: 100%;
  height: 80px;
}

.splashImg {
  margin: 5% auto;
  width: 100%;
}

.splashImg img {
  max-width: 500px;
}

.main {
  margin: 5% auto 10% auto;
}

.bottomBanner {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #90A09F; //grey-green
  color: #FFF; //white
}*/

/******
WEBSITE
******/

/********************
Large Scale Selectors
********************/

html {
  background-color: #6f8490; //grey-blue
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bombshell Pro', cursive;
  font-weight: 100;
  text-align: center;
  color: #f1f1f4; //off-white
}

/*********
Containers
*********/

.banner, .scroll, .main {
  background-color: #f1f1f4; //off-white
}

.bannerBox {
  padding: 10% 7% 4% 7%;
  background-color: #aad4ca; //grey-green
}

.scroll {
  padding: 12% 7% 5% 7%;
}

.nav {
  margin: 1% auto;
  background-color: #6f8490; //grey-blue
}

.main {
  border-top: 28px solid #f1f1f4; //off-white
}

.section {
  padding: 5% 10%;
  margin-bottom: 28px;
  background-color: #aad4ca; //grey-green
}

.sectionContent {
  width: 80%;
  margin: 3% auto;
  max-width: 625px;
}

.storyText {
  margin-bottom: 10%;
}

.scheduleHeader {
  width: 65%;
  margin: 4% auto;
  padding-top: 5%;
  border-top: 2px solid black;
}

table {
  margin-bottom: 3%;
  border-collapse: collapse;
}

#eventTb, #timeTb {
  width: 20%;
}

#locationTb, #descriptionTb {
  width: 30%;
}

/*****
Images
*****/

#ringPic {
  margin: 16% auto 5% auto;
}

/************
Text Elements
************/

h1 {
  font-size: 4rem;
  text-shadow: 1px 1px 2px #6f8490; //grey-blue
}

h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
  color: #000; //black
}

h3 {
  font-size: 2.75rem;
  color: #000; //black
}

h4 {
  font-size: 4rem;
  color: #000; //black
}

h5 {
  font-family: 'Amatic SC', cursive;
  font-size: 3.5rem;
  color: #000; //black
}

p {
  font-family: 'Amatic SC', cursive;
  font-size: 2.75rem;
  text-align: justify;
  text-indent: 2.5rem;
  margin: 2% auto;
  color: #000; //black
}

a {
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  text-shadow: 1px 1px 1px #6f8490; //grey-blue
  color: #f1f1f4; //off-white
}

a:hover {
  color: #6f8490; //grey-blue
}

li {
  display: inline-block;
  margin-left: 3%;
  margin-right: 3%;
  font-family: 'Amatic SC', cursive;
  font-size: 2.75rem;
  text-shadow: 1px 1px 1px #000; //black
}

.logoItem {
  font-size: 2.25rem;
  margin-left: 8%;
  margin-right: 8%;
}

.navBtn:hover {
  cursor: pointer;
  color: #aad4ca; //grey-green
}

th, td {
  font-family: 'Amatic SC', cursive;
  padding-top: 1%;
  padding-bottom: 1%;
  border-bottom: 2px solid black;
  background-color: #aad4ca; //grey-green
}

th {
  font-size: 2.5rem;
  color: #6f8490; //grey-blue
  text-shadow: 1px 1px 2px #000; //black
}

td {
  font-size: 2rem;
  color: #000; //black
}

.eventName {
  text-shadow: 1px 1px 2px #6f8490; //grey-blue
  color: #f1f1f4; //off-white
}

.description {
  font-size: 1.5rem;
}

/*************************
Responsive Media Inquiries
*************************/

@media only screen and (max-width: 930px) {
  h1, h4 {
    font-size: 3.25rem;
  }

  h2, h5 {
    font-size: 3rem;
  }
  .navBtn {
    font-size: 2.5rem;
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media only screen and (max-width: 750px) {
  .sectionContent {
    width: 97%;
    max-width: 480px;
  }
  .section {
    padding: 5% 5%;
  }
  h1, h4 {
    font-size: 2.75rem;
  }
  .logoItem {
    font-size: 1.75rem;
    margin-left: 6%;
    margin-right: 6%;
  }
  p {
  text-indent: 2rem;
  }
}

@media only screen and (max-width: 650px) {
  #bannerHeader {
    font-size: 2.5rem;
  }
  h2, h5 {
    font-size: 2.75rem;
  }
  h3 {
    font-size: 2.25rem;
  }
  .section {
    padding: 5% 2%;
  }
  #ringPic {
    margin: 5% auto 4% auto;
  }
  .scroll {
    padding: 12% 7% 5% 7%;
  }
}

@media only screen and (max-width: 540px) {
  h1, #bannerHeader {
    font-size: 2.25rem;
  }
  p {
    font-size: 2.25rem;
    text-indent: 1.5rem;
  }
  .logoItem {
    font-size: 1.5rem;
    margin-left: 4%;
    margin-right: 4%;
  }
  .navBtn {
    font-size: 2.75rem;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  #bannerHeader, h2, h3 {
    font-size: 1.75rem;
  }
  td {
    font-size: 1.5rem;
  }
  h4, li, p, th {
    font-size: 2rem;
  }
  h5 {
    font-size: 2.25rem;
  }
  .description {
    font-size: 1rem;
  }
  .logoItem {
    margin-left: 2%;
    margin-right: 2%;
  }
}

