/*****************************************
Font Families:
font-family: 'Bombshell Pro', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Playfair Display SC', serif;

Color Pallette:
#90A09F; //grey-green
#000; //black
#5A6B75; //grey-blue
#E9E8ED; //off-white
*****************************************/

/******************
Defines Font Family
******************/

@font-face {
  font-family: 'Bombshell Pro';
  font-style: normal;
  font-weight: normal;
  src: local('Bombshell Pro'), url('Bombshell Pro.woff') format('woff');
}

/****************
Element Selectors
****************/

html {
    background-color: #E9E8ED; //off-white
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bombshell Pro', cursive;
  text-align: center;
  color: #FFF; //white
}

h1 {
  font-size: 4em;
}

h2, p, li {
  font-family: 'Amatic SC', cursive;
  font-size: 2.5em;
}

h4 {
  font-size: 2.5em;
  color: #000; //black
}

h5 {
  font-size: 4em;
  color: #000; //black
}

p {
  text-align: left;
}

li {
  display: inline;
  margin-left: 2%;
  margin-right: 2%;
}

/**************
Class Selectors
**************/

.logo {
  background-color: #5A6B75; //grey-blue
}

.bannerPic {
  width: 100%;
  margin-top: 10px;
}

.bannerBox {
  padding: 5% 10%;
  width: 100%;
  background-color: #90A09F; //grey-green
}

.section {
  padding: 5% 10%;
  margin: 40% auto 0% auto;
  width: 100%;
  background-color: #90A09F; //grey-green
}

.navBar {
  margin: 14px auto;
  background-color: #5A6B75; //grey-blue
}

.navBtn {
  cursor: pointer;
}

.scrollIcon {
  margin: 50% auto 0% auto;
}

/************
Media Queries
************/

@media only screen and (max-width: 950px) {
  h1, h5 {
    font-size: 3em;
  }

  h2, h4, p, li {
    font-size: 2em;
  }
}

@media only screen and (max-width: 700px) {
  h1, h5 {
    font-size: 2.25em;
  }

  h2, h4, p, li {
    font-size: 1.75em;
  }
}

@media only screen and (max-width: 550px) {
  h1, h5 {
    font-size: 1.5em;
  }

  h2, h4, p, li {
    font-size: 1.25em;
  }
}
